$body-light: #0f1923;
$background-light: #ece8e1;

.project-card-button {
  border: 1px solid $body-light;
  position: relative;
  flex-wrap: wrap;
  padding: 10px;
  margin-right: 10px;
  display: inline-block;
  text-align: center;
  transition: 0.5s;
  // color: $body-light;
  background-color: $background-light;
  &:hover {
    // color: $background-light;
    box-shadow: inset 300px 0 1px 0 $body-light;
  }
}
