.App {
  text-align: left;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: top;
  font-size: calc(10px + 2vmin);
  color: white;
  font-size: 25;
  padding-left: 20pt;
  padding-right: 10;
}

.App-info {
  font-size: medium;
  width: 80%;
  padding-right: 10%;
}

.App-link {
  font-size: medium;
  color: #61dafb;
}

.nav {
  position: fixed;
  width: 100%;
  z-index: 1000;
  box-shadow: 0 4px 14px 0 rgba(0,0,0,0.15);
}
.nav .nav-content {
  max-width: 900px;
  padding: 0rem 3rem;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  background-color: #c2c9d68f;
}

.nav-item{
  display: inline;
  margin-left: 2rem;
  color: #223864;
}