@font-face {
  font-family: "Tungsten Bold";
  font-style: normal;
  src: local("Tungsten-Bold"),
    url("./resources/fonts/Tungsten-Bold.woff") format("woff");
}

@font-face {
  font-family: "DIN Next Lt Pro Regular";
  font-style: normal;
  font-weight: normal;
  src: local("DINNextLTPro-Regular"),
    url("./resources/fonts/DINNextLTPro-Regular.woff") format("woff");
}

@font-face {
  font-family: "DIN Next Lt Pro Medium";
  font-style: normal;
  font-weight: normal;
  src: local("DINNextLTPro-Medium"),
    url("./resources/fonts/DINNextLTPro-Medium.woff") format("woff");
}

header {
  font-family: "Tungsten Bold", sans-serif;
}

h1 {
  font-family: "Tungsten Bold", sans-serif;
}

h2 {
  font-family: "DIN Next Lt Pro Medium", sans-serif;
}

body {
  margin: 0;
  font-family: "DIN Next Lt Pro Regular";
  font-weight: regular;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
